# Ignore HTML BOMs in Github's Language Stats
*.html linguist-detectable=false

# Ignore STM32 HAL/Drivers/usw in Github's language stats:
Engine_Tester_Firmware/Drivers/** linguist-vendored
Engine_Tester_Firmware/Core/** linguist-vendored
Engine_Tester_Firmware/Core/Src/main.c -linguist-vendored

# This is a C project....
*.h linguist-language=C


